
<div class="bg-light">

    <div class="row mt-4">

        <div class="card">
            <div class="card-header text-center bg-danger  text-white">
                <h2>ALL DATA FROM SERVER TO ACCESS ADMIN ONLY</h2>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-success">Show All Data</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-success">Show All Data</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-success">Show All Data</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <div class="row">

        <div class="col-12">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>

</div>
