<div>
    <div class="row bi1" >
        <div class="col-12">
            <div>
                <h1 class="text-center">WELCOME TO THE ENTRY POINT SOLUTION</h1>
            </div>
            <div>
                <h1 class="text-center">CONTACT FOR THE RESPONSOVE DESIGHNS</h1>
            </div>
        </div>
    </div>

    <div class="row bi1">
        <div>
            <h1 class="text-center">OUR SERVICES</h1>
        </div>
    </div>

    <div class="row">
        <img src="https://www.free-css.com/assets/images/free-css-templates/page296/oxer.jpg"  class="img-fluid" style="width:100%">
    </div>
</div>
