<div class="row mt-5">
    <div class="col-3">

    </div>
    <div class="col-6">

        <div class="card">
            <div class="card-header text-center">
                <h4>Welcome- {{name}} </h4>
                <h5>Enter OTP sent to- {{email}}</h5>
            </div>

            <div class="card-body">
                <form class="form row" [formGroup]="otpForm">
                    <div class="col-4">

                    </div>

                    <div class="col-4">

                        <div class="col-12 text-center">
                            <h5 style="color:green">{{ successLoginMessage }}</h5>
    
                        </div>

                        <div class="col-12">
                            <!-- <label class="form-label"><b>Enter OTP : </b></label> -->
                            <input class="form-control" type="hidden"  value="{{email}}" formControlName="email">
    
                        </div>

                        <div class="col-12">
                            <label class="form-label"><b>Enter OTP : </b></label>
                            <input class="form-control" type="text" formControlName="otp" placeholder="Enter OTP">
                            @if (verifyStatus === 'failed'){
                                <h5 style="color:red">{{ loginFailedMessage }}</h5>
                                
                            }
    
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary mt-3" (click)="verifyOtp()">Verify OTP</button>
                        </div>

                    </div>

                </form>

            </div>
                
    </div>
   

        

    
</div>
